<header class="app-header main-layout">
    <span class="logo">
        <a routerLink="/" routerLinkActive="active"> Mr. BitCoin </a>
    </span>
    <nav class="nav-app" v-if="!isLoginSignupPath">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a routerLink="/contact" routerLinkActive="active">Contacts</a>
        <a routerLink="/statistic" routerLinkActive="active">Statistics</a>
        <span class="separator">|</span>
        <button class="btn-logout">Logout</button>
    </nav>
</header>