@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';

.login-signup {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: rem(25px);
        margin-block-end: rem(30px);
    }

    .login-signup-form {
        display: flex;
        flex-direction: column;

        >* {
            width: rem(300px);
            border-radius: rem(4px);

            &:not(:last-child) {
                padding: rem(8px) rem(7px);
                margin-block-end: rem(20px);
            }
        }

        .btn-signup {
            color: var(--primary-text-color);
            background-color: transparent;
            padding: rem(10px) rem(5px);
            border: 1px solid var(--primary-text-color);
            cursor: pointer;
        }
    }
}