@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';
@import '../../../assets/styles/setup/vars';

.contact-filter {
    display: flex;
    flex-direction: column;
    margin-block-end: rem(50px);  

    @include for-normal-layout {
        justify-content: flex-start;
        margin: 0;
    }

    .filterBy-title {
        font-size: rem(28px);
        text-align: center;
        width: 100%;

        @include for-narrow-layout {
            width: rem(420px);
        }

        @include for-normal-layout {
            width: rem(370px);
            text-align: unset;
        }

        @include for-wide-layout {
            width: rem(430px);
        }

        span {
            color: var(--secondary-text-color);
        }
    }

    .filterBy-input {
        padding: rem(7px);
        border-radius: rem(4px);
        font-size: rem(14px);
        width: 100%;

        @include for-narrow-layout {
            width: rem(420px);
        }

        @include for-normal-layout {
            width: rem(370px);
        }

        @include for-wide-layout {
            width: rem(430px);
        }
    }

    >*:not(:last-child) {
        margin-block-end: rem(20px);
    }
}