<section class="home main-layout">
  <h1 class="primary-title">{{ greeting | naturalType }} </h1>
  <h4 class="secondary-title">
    Start to
    <span>Send and Exchange </span>
    with Mr. BitCoin free and secure BTC app
  </h4>
  <main class="data">
    <div class="funds">
      <div class="balance">
        <span class="btc">{{ user.name }}'s balance:
          <span> ₿{{ user.balance }} </span>
        </span>
        <span class="usd">USD:
          <span>{{ BTCtoUSD | currency }}</span>
        </span>
        <span class="eur">EUR:
          <span>{{ BTCtoEUR | currency: 'EUR' }}</span>
        </span>
      </div>
      <transaction-list [transactions]="transactions"></transaction-list>
    </div>
    <chart *ngIf="marketPriceHistory" [labels]="labels" [data]="data" [description]="description"></chart>
  </main>
</section>