<section class="contact-details">
    <img [src]="contact.img" alt="contact-img" />
    <span class="contact-name">{{ contact.name }}</span>
    <span class="contact-email">Email: {{ contact.email }}</span>
    <span class="contact-phone">Phone: {{ contact.phone }}</span>
    <transaction-list [transactions]="transactions"></transaction-list>
    <transfer-funds [contact]="contact" (transferFunds)="onTransferFunds($event)"></transfer-funds>
    <button class="btn-back" [routerLink]="['/contact']">Back</button>
</section>