@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';
@import '../../../assets/styles/setup/vars';

.contact-preview {
    display: flex;
    align-items: center;
    margin-block-end: rem(5px);
    cursor: pointer;
    width: 100%;

    @include for-narrow-layout {
        width: rem(420px);
    }

    @include for-normal-layout {
        width: rem(350px);
    }

    .btn-remove {
        position: absolute;
        top: 0;
        right: 0;
        color: var(--primary-text-color);
        background-color: transparent;
        font-size: rem(15px);
        padding: 0;
        border: 0;
        cursor: pointer;
    }

    img {
        height: rem(50px);
        width: rem(50px);
        margin-inline-end: rem(10px);
    }

    .contact-data {
        display: flex;
        flex-direction: column;

        input {
            background-color: transparent;
            color: var(--primary-text-color);
            border: 0;
            margin-block-end: rem(5px);
        }

        .contact-name {
            font-size: rem(16px);
        }

        .contact-email,
        .contact-phone {
            font-size: rem(12px);
        }
    }
}