<section class="contact-preview" [routerLink]="['/contact', contact._id]">
    <button class="btn-remove" (click)="onRemoveContact()">X</button>
    <img [src]="contact.img" alt="contact-img" />
    <div class="contact-data">
        <input class="contact-name" (click)="onClickEvent($event)" (blur)="onSaveContact()" [(ngModel)]="contact.name" type="text" />
        <input class="contact-email" (click)="onClickEvent($event)" (blur)="onSaveContact()" [(ngModel)]="contact.email" type="email" />
        <input class="contact-phone" (click)="onClickEvent($event)" (blur)="onSaveContact()" [(ngModel)]="contact.phone" type="text" />
    </div>
</section>