@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';
@import '../../../assets/styles/setup/vars';

:host {
    @include for-narrow-layout {
        overflow: auto;

        // scrollbar
        &::-webkit-scrollbar {
            width: rem(10px);
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: rem(5px);
        }

        &::-webkit-scrollbar-thumb {
            background: var(--secondary-text-color);
            border-radius: rem(5px);
        }

        &::-webkit-scrollbar-thumb:hover {
            background: rgba(6, 89, 116, 0.575);
            border-radius: rem(5px);
        }
    }

    .contact-list {
        display: flex;
        justify-content: center;
        flex-grow: 1;

        @include for-narrow-layout {
            justify-content: flex-start;
            padding-inline-end: rem(17px);
        }

        @include for-normal-layout {
            justify-content: flex-end;
        }

        ul {
            li {
                border-block-end: 1px solid white;
                position: relative;
            }

            >*:not(:last-child) {
                margin-block-end: rem(10px);
            }
        }
    }
}